<div class="row">
    <div class="col-6">

        <app-dona [colors]="colors"
                  [dataNumber]="data"
                  titulo="Ventas"
                  [labels1]="labels1"
                  ></app-dona>

    </div>
    
    <div class="col-6">

        <app-dona [colors]="colors"
                  [dataNumber]="data"
                  [labels1]="labels1"
                  ></app-dona>

    </div>
</div>

<div class="row">
    <div class="col-6">

        <app-dona [colors]="colors"
                  [dataNumber]="data"
                  [titulo]="titulo"></app-dona>

    </div>

    <div class="col-6">

        <app-dona [colors]="colors"
                  [dataNumber]="data"
                  titulo="Ventas"></app-dona>

    </div>
</div>